.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(to right,#672280,#A626D3);
    padding: 20px;
}

.header-container h3{
    font-size: 40px;
    color: #ffffff;
    font-weight: 400;
}

.header-container img{
    width: 100px;
}

.header-left{
    display: flex;
    align-items: center;
    gap: 35px;
}

.header-left h1{
    font-size: 60px;
    color: #ffffff;
    font-weight: 700;
}